openapi: 3.0.3
info:
  title: Inzicht API
  description: |-
    This is a Inzicht API that permits querying verwerkingen.
  contact:
    email: digilab@vng.nl
  license:
    name: EUPL 1.2
    url: https://eupl.eu/1.2/en/
  version: 1.0.0
servers:
  - url: https://inz.apps.digilab.network/v0
  - url: http://np-inz-backend-127.0.0.1.nip.io:8080/v0
tags:
  - name: log
    description: Everything about logs.

paths:
  /logs/{queryID}:
    get:
      tags:
        - log
      summary: Get logs for subject
      description: Returns all logs matching specified subject.
      operationId: getLogs
      parameters:
        - $ref: "#/components/parameters/pathQueryID"
        - name: since
          in: query
          description: An optional RFC 3339 formatted time from which to query the logs. Default is 7 days ago.
          example: "2024-06-01T01:23:45.012345Z"
          required: false
          schema:
            type: string
            format: date-time
        - name: until
          in: query
          description: An optional RFC 3339 formatted time from which to query the logs. Default is now.
          example: "2024-06-01T01:23:45.012345Z"
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          $ref: "#/components/responses/LogResponse"
        "400":
          $ref: "#/components/responses/BadRequestErrorResponse"
        "500":
          $ref: "#/components/responses/InternalErrorResponse"
components:
  schemas:
    # attributes (camelCase):
    queryID:
      description: ID of the subject being queried.
      type: string
      pattern: "^[0-9]{10}$"
      example: "1234567890" # copied from example images at https://ind.nl/nl/vreemdelingendocumenten/verblijfsdocument-model-2020
    # entities (PascalCase)
    Log:
      description: The log object
      type: object
      properties:
        traceId:
          type: string
          example: ef4e77b903b585fb6135fcf8d8555fb3
        spanId:
          type: string
          example: beb0291b5162d850
        parentSpanId:
          type: string
          example: beb0291b5162d850
        tags:
          type: object
          example: { "foo": "bar" }
          additionalProperties: true
        personalData:
          type: array
          items:
            type: string
            example: Geboortedatum
          example:
            - Geboortedatum
            - Burgerservicenummer
        organization:
          type: string
          example: "Gemeente xyz"
        processingActivityId:
          type: string
          format: uri
          example: "092c7bd1-7a21-4ed5-b1f3-10555c5b4dfa"
        processingActivity:
          type: string
          example: "Activiteit #1"
        startedAt:
          type: string
          format: date-time
          example: "2024-11-30T22:15:00Z"
        duration:
          type: integer
          minimum: 0
          format: uint64
          description: duration of the trace in ms
        statusCode:
          type: string
          description: The canonical status code that describes the result status of the operation.
          enum:
            - STATUS_CODE_UNSET
            - STATUS_CODE_OK
            - STATUS_CODE_ERROR
        statusMessage:
          type: string
          description: An optional description of the status.
          example: "authorization server denied request: Organisatie is geen lid van het FDS."
      required:
        - traceId
        - spanId
        - parentSpanId
        - tags
        - personalData
        - organization
        - processingActivityId
        - processingActivity
        - startedAt
        - duration
        - statusCode
        - statusMessage
    Error:
      description: The error that occured while processing this request.
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: foo went wrong
  parameters:
    pathQueryID:
      name: queryID
      in: path
      description: ID of subject of query.
      required: true
      schema:
        $ref: "#/components/schemas/queryID"
  responses:
    NotFound:
      description: resource not found
    BadRequestErrorResponse:
      description: Invalid input supplied.
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/Error"
            required:
              - errors
    InternalErrorResponse:
      description: An unkown error has occured.
      content:
        application/json:
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: "#/components/schemas/Error"
            required:
              - errors
    LogResponse:
      description: Successful operation
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: "#/components/schemas/Log"
            required:
              - data
